/*
multi
line
comment
*/

.fancy-header {
    color: blue; /* single line comment */
    text-decoration: underline;

}

/*.top-navigation a {
    color: #8E949A;
    text-decoration: none;
}
.pill-nav  */

a { /*Rule delimiters */
    color: #000;


}
