/* Reset */
html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    font-size: 1.1em;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav > ul {
    list-style-type: none;
    float: right;
}
/* margin-right: 10px;  /*

/* Layout */

header > h1 {
    float: left;
}

header > nav {
    float: right;
}

.nav-item {
    display: inline-block;
}

.hero {
    clear: both;
}

/* adding */
h1 {text-orientation: underline;}


.main1 {
    background-color : yellow;
   float: left;
    width:450px;
    margin-left: 15px;
}

.subsec {
    background-color : blue;
    float: right;
    width:500px;
}
/* add 2 footers, ( @ media screen and (min-width: 400px)
for mobile need to use class="hidden"
look at visibility=: hidden */